<div fxLayout="column">
  <div class="row">
    <h1>bpmn-js Angular example</h1>
    <form fxLayout="row">
      <mat-form-field>
        <input name="diagramUrl" [(ngModel)]="diagramUrl" matInput placeholder="Diagram URL" type="text">
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="onSubmit($event)"><mat-icon>sync</mat-icon></button>
    </form>
  </div>
  <div class="diagram-parent">
    <app-diagram [url]="urlToLoad" (importDone)="handleImported($event)"></app-diagram>

    <div *ngIf="importError" class="import-error">
      <strong>Failed to render diagram: </strong>
      {{ importError.message }}
    </div>
  </div>
</div>

