name: CI
on: [ push, pull_request ]
jobs:
  Build:

    strategy:
      matrix:
        os: [ ubuntu-latest ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Setup project
      uses: bpmn-io/actions/setup@latest
    - name: Install Playwright Browsers
      run: npx playwright install
      working-directory: ./bpmn-js-app
    - name: Build
      run: npm run all
